// out: ../css/index.css
// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import './_mixins.less';
@import './_variables.less';
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	text-align: center;
}
body{
	background-color: @veryLightBlue;
	font-size: 62.5%; 
}

article, header, #about{
	background-color: white;
	margin: 0 auto;
	width: 85%;
}

/* Font Size */
h1{
	font-size: 2.3rem;
	margin-bottom: 1rem;
}
h2{
	font-size: 2rem;
	margin-bottom: 1rem;
}
h3{
	font-size: 1.7rem;
}
p, td, a{
	font-size: 1.2rem;
	padding-bottom: 1rem;
}
.minimum{
	font-size: 1rem;
	color: grey;
}

.simple{ 

	line-height: 1.3rem;

	header{

		h1{
			border: 5px solid black;
			padding: 2rem;
		}
		padding: 2rem 2rem 0;

	}
	article {

	padding: 2rem;
	.flexRow();
	justify-content: space-around;
	section {

		.flexColumn();
		flex-basis: 45%;

		#info{
			section:nth-child(3){

				div{
					.flexRow();
					margin-top: 1rem;
					justify-content: space-around;
				}
			}
		}
	}
}
}